<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- creating beans for actors-->
    <bean id="actor-id" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Mahesh"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="45"/>
    </bean>

    <bean id="actor-id2" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Hrithik"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="35"/>
    </bean>

    <bean id="actor-id3" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Surya"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="37"/>
    </bean>

    <!-- <bean id="movie-id" class="com.stackroute.domain.Movie" >
          <constructor-arg name="actor" ref="actor-id"/>

      </bean>

     <bean id="movie-id2" class="com.stackroute.domain.Movie" scope="prototype">
      <constructor-arg name="actor" ref="actor-id2"/>
      </bean>

      <bean id="movie-id3" class="com.stackroute.domain.Movie">
          <constructor-arg name="actor" ref="actor-id3"/>
      </bean>-->
       <!--passing the actor beans using reference and changing the scope to prototype-->
    <bean name="movie-id1 ,movie-id2" scope="prototype" class="com.stackroute.domain.Movie">
        <constructor-arg name="actor" >
            <list>
                <ref bean="actor-id"/>
                <ref bean="actor-id2"/>
                <ref bean="actor-id3"/>
            </list>
        </constructor-arg>

    </bean>



</beans>
